
body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: medium;
    color: #222222;
    background-color: #6c9182; 
    text-align: center;
}

h1 {
    color: #11181d;
}

